@page "/Counter"

<PageTitle>About</PageTitle>

<h1>About This Application</h1>

<p>A little bit about this application. This application was created by Justin McCoy with the help of FreeCodeCamp.com. It is running with .NET Core and razor pages, primarily.</p>
